.idea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  border-radius: 12px;
 
  background: #10102e; /* deep dark navy */
color: #FFFFFF;       /* white text */
 
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.edit-btn {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.edit-btn:hover {
  background: rgba(255,255,255,0.3);
}

